.bg-l {
	background: linear-gradient(to right, rgb(255, 15, 123), rgb(248, 155, 41));
}

.bg-t {
	background: linear-gradient(to bottom, rgb(255, 15, 123), rgb(248, 155, 41));
}

html, body, app-root, app-match-details {
	height: 100%;
}

html, body, app-root, drop-down-server, search-input, app-match-details {
	width: 100%;
}

app-match-details {
	background-color: #101010;
}

.w-90 {
	width: 90%;
}

.fullscreen {
	width: 100%;
	height: 100%;
}

hr{
	border-top: 2px solid  #F89B29;
}

.text-error {
	color: red;
	font-weight: bolder;
	text-transform: uppercase;
}

app-match-details {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
