<div class="container">
	<div class="map-container bg-t">
		<div id="map" >
			<img src="{{map}}" style="position: absolute; width: 100%;"/>
			<img src="{{soulMap}}" style="position: absolute; width: 100%;"
				 [ngStyle]="{'opacity': getOpacity()}"/>

			<app-map-icon
					*ngFor="let event of kills"
					class="ping death kill-{{event.killerId}} victim-{{event.victimId}}{{event.assistingParticipantIds ? ' assist-'+event.assistingParticipantIds.join(' assist-') : ''}} visible-{{event.timestamp <= range}}"
					[game]="game!"
					[event]="event"
					[range]="range"
					[ngClass]="isSelected(event) ? 'selected' : ''"
					(click)="selectedEvent = !isSelected(event) ? event : undefined"
					[ngStyle]="{
					'bottom': (100*event.position.y)/15000+'%',
					'left': (100*event.position.x)/15000+'%',
					'background': event.killerId > 5 ? '#FF4444' : '#008FFF',
					'opacity': event.timestamp < range ? ( event.timestamp  + 60000 > range ? '100%' : '25%') : '0%'}">
			</app-map-icon>

			<app-map-icon
					*ngFor="let event of objective"
					class="ping obj"
					[game]="game!"
					[event]="event"
					[range]="range"
					[ngStyle]="{
					'bottom': (100*event.position.y)/15000+'%',
					'left': (100*event.position.x)/15000+'%',
					'background-image': 'url('+getObjectiveIcon(event.monsterSubType ?? event.monsterType)+')',
					'visibility': event.spawn < range && range < event.timestamp ? 'visible' : 'hidden'}">
			</app-map-icon>



		</div>
		<div class="popup-container w-100">
			<div class="popup d-flex justify-content-between" *ngIf="selectedEvent != null && selectedEvent.type === 'CHAMPION_KILL'">
				<img src="{{Fixdata.getChampionIcon(getPlayer(selectedEvent.killerId).championName!)}}"/>
				<p>X</p>
				<img src="{{Fixdata.getChampionIcon(getPlayer(selectedEvent.victimId).championName!)}}"/>
				<p>{{Fixdata.getTime(selectedEvent.timestamp).join(':')}}</p>
			</div>
		</div>

		<div class="scoreboard">
			<div class="teamScore">
				coucou
			</div>

			<div class="playerScore d-flex ps-2 pe-2 border" *ngFor="let post of teamPlayer">
				<div class="col h-100 d-flex flex-row-reverse justify-content-between">
					<img src="{{Fixdata.getChampionIcon(post.team1.championName)}}" height="100%"/>
					<span style="width: 25%">{{getKDA(post.team1.participantId)}}</span>

					<!--<div class="h-100 d-flex flex-column items-list pb-1 pt-1">
						<div class="w-100 d-flex h-50">
							<img alt="" src="{{Fixdata.getItemIcon(post.team1.item0)}}" height="100%"/>
							<img alt="" src="{{Fixdata.getItemIcon(post.team1.item1)}}" height="100%"/>
							<img alt="" src="{{Fixdata.getItemIcon(post.team1.item2)}}" height="100%"/>
						</div>
						<div class="w-100 d-flex h-50">
							<img alt="" src="{{Fixdata.getItemIcon(post.team1.item3)}}" height="100%"/>
							<img alt="" src="{{Fixdata.getItemIcon(post.team1.item4)}}" height="100%"/>
							<img alt="" src="{{Fixdata.getItemIcon(post.team1.item5)}}" height="100%"/>
						</div>
					</div>-->
					<span>{{getWard(post.team2.participantId)}}</span>
				</div>
				<div class="col h-100 d-flex flex-row justify-content-between">
					<img src="{{Fixdata.getChampionIcon(post.team2.championName)}}" height="100%"/>
					<span style="width: 25%">{{getKDA(post.team2.participantId)}}</span>
					<!--<div class="h-100 d-flex flex-column items-list pb-1 pt-1">
						<div class="w-100 d-flex h-50">
							<img alt="" src="{{Fixdata.getItemIcon(post.team2.item0)}}" height="100%"/>
							<img alt="" src="{{Fixdata.getItemIcon(post.team2.item1)}}" height="100%"/>
							<img alt="" src="{{Fixdata.getItemIcon(post.team2.item2)}}" height="100%"/>
						</div>
						<div class="w-100 d-flex h-50">
							<img alt="" src="{{Fixdata.getItemIcon(post.team2.item3)}}" height="100%"/>
							<img alt="" src="{{Fixdata.getItemIcon(post.team2.item4)}}" height="100%"/>
							<img alt="" src="{{Fixdata.getItemIcon(post.team2.item5)}}" height="100%"/>
						</div>
					</div>-->
					<span>{{getWard(post.team2.participantId)}}</span>
				</div>
			</div>
		</div>

		<div class="setting">
			<div class="timeline w-100 d-flex" style="padding-bottom: 10px;">
				<button (click)="nextSpeed()" class="btn btn-outline-secondary w-25">x{{speed}}</button>
				<span class="w-50" style="text-align: center">{{Fixdata.getTime(this.range).join(':')}}</span>
			</div>
			<input type="range" [max]="game ? game.duration*1000 : 0" [(ngModel)]="range" class="w-100" />
			<div class="button">
				<button class="btn btn-primary w-25" (click)="setRange(-(10000/speed))">Back</button>
				<button class="btn btn-primary w-25" (click)="togglePlayPause()" [ngStyle]="{'background' : playing ? 'green' : ''}">{{playing ? "pause" : "play"}}</button>
				<button class="btn btn-primary w-25" (click)="setRange(10000/speed)">next</button>
			</div>
		</div>

	</div>
</div>
