#map {
	position: relative;
	background-size: cover, cover;
	background-repeat: no-repeat, no-repeat;
	aspect-ratio: 1/1;
	width: 100%;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.setting {
	padding: 0 10px 10px 10px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.map-container {
	width: 70%;
	padding: 0;
	border: 2px solid black;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: white;
}

.button {
	padding-top: 10px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.m-10 {
	margin: 10px;
}

.ping {
	position: absolute;
}

.death {
	width: 3%;
	height: 3%;
	margin-left: -1.5%;
	margin-bottom: -1.5%;
	border-radius: 50%;
	border: 1px solid #111111;
}

.obj {
	width: 5%;
	height: 5%;
	margin-left: -2.5%;
	margin-bottom: -2.5%;
	background-size: cover;
	background-repeat: no-repeat;
}

.popup {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2px;
	background: lightgrey;
	border: 2px solid;
}

.popup > img {
	border-radius: 50%;
	border: 2px solid #111111;
	height: 30px;
	margin-inline: 5px;
	aspect-ratio: 1 / 1;
}

.popup > p {
	padding: 0;
	margin: 0;
}


.selected {
	border-color: white;
	border-width: 3px;
	opacity: 1 !important;
}

.popup-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn {
	padding: 1%;
}


.scoreboard {
	border-top: 2px solid black;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	width: 100%;
	border-radius: 10px;
}

.playerScore {
	height: 35px;
}

.score {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 40px;
	border-bottom: 2px solid black;
}

.score > img {
	height: 50%;
	aspect-ratio: 1 / 1;
}

.score-icon {
	height: 50%;
	aspect-ratio: 1 / 1;
}

.teamScore {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
	font-size: large;
	font-weight: bolder;
}

.timeline {
	height: 48px;
}



.bg-icon {
    height: 100%;
    position: absolute;
    top : 0;
    right : 0;
  }
  
  .bg-icon:first-child {
    height: 100%;
    position: absolute;
    top : 0;
    left: 0;
    transform: rotate(180deg);
  }

  .left{
    width: 66%;
    height: 100%;
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

	.right {
		width: 33%;
		height: 100%;
		display: flex;
		flex-direction: column ;
		justify-content: center;
		gap: 10px;
		background-color: blue;
	  }

	  .container {
		margin: auto;
		  padding: 100px 10px 50px 10px;
		  justify-content: space-between;
		  display: flex;
	  }

	  section{
		height: 100vh;
		width: 100vw;
		display: flex;
		flex-direction: row;
	  }


	  @media (max-width:1300px){
		section {
			flex-direction: column-reverse;
		}
	}